<header class="header">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="navbar-open"
    aria-label="<%=messages['navbar_open']%>"
    role="button">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
  </svg>
  <div class="search hidden-accessible" role="search">
    <label id="search-input-label" for="search-input" class="hidden-accessible"
      ><%=messages['search']%></label
    >
    <input
      type="text"
      placeholder="<%=messages['search_placeholder']%>"
      class="search-input"
      name="search-input"
      id="search-input"
      aria-labelledby="search-input-label"
      aria-description="<%=messages['search_description']%>" />
  </div>
</header>
<section class="scores">
  <table class="scores-table">
    <thead class="scores-table-header">
      <tr>
        <th aria-label="Title"><%= messages['scores_table_name'] %></th>
        <th aria-label="Score">
          <%= messages['scores_table_score'] %><span class="tooltip"
            >*<span class="tooltiptext"><%= messages['scores_table_score_tooltip'] %></span></span
          >
        </th>
        <th aria-label="Date"><%= messages['scores_table_date'] %></th>
        <th aria-label="Time"><%= messages['scores_table_time'] %></th>
        <th aria-label="Bar"><%= messages['scores_table_avg'] %></th>
      </tr>
    </thead>
    <tbody class="scores-table-body"></tbody>
  </table>
</section>
